.blue {color: blue;}
.red {color: red;}
.orange {color: orange;}
.green {color: green;}
.sb {color: skyblue;}
.brown {color: brown;}
.purple {color: purple;}
.o-r {color: orangered;}
 span {font-size: 100px;}
 span {float: left;}
